body {
	margin: 0 !important;
	background-color: #f8f9fa;
}

a {
	text-decoration: none;
	color: #5d5d57;
}

.arb-text {
	direction: rtl;
	float: right;
	margin-right: '25px';
	width: 100%;
}

.searchInput {
	align-self: center;
	width: 300px;
	padding: 0.2rem;
	border-radius: 0.5rem;
	border-color: gray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.dropdown-toggle::after {
	display: none;
}

@media (max-width: 575px) {
	.searchInput {
		width: 200px;
	}
}
