.arb-text {
    direction: rtl;
    float: right;
    margin-right: '25px';
}

a {
    text-decoration: none;
    color: #5d5d57;
}
body {
    background-color: #F8F9FA;
}

.dropdown>a::after {
    color: #fff;
}