.categoryNavbar {
	position: sticky;
	top: -112px;
}

@media (max-width: 768px) {
	.categoryNavbar {
		top: -3px;
	}
}

@media (max-width: 575px) {
	.categoryNavbar {
		top: -3px;
	}
}

.categoryNavbar .nav-item a {
	color: #07a180;
}

.categoryNavbar .nav-item a:hover {
	color: black;
}

.categoryNavbar .dropdown .dropdown-toggle {
	background: none;
	border: none;
}

.categoryNavbar .viewMore {
	color: #07a180;
}
