.navbar .nav-item a {
	color: #3bd6eb;
}

.navbar .nav-item a:hover {
	color: black;
}

.navbar .dropdown .dropdown-toggle {
	background: none;
	border: none;
	color: rgb(0, 166, 255);
}
