.logo {
    color: inherit;
    outline-color: #0000;
    font-weight: bolder;
}

.checkoutInformation{
    background-color: #F4F4F4;
    padding: 1rem;
}

.checkoutInformation small a {
    text-decoration: underline;
    color: skyblue;
}


.cartSummary{
    background-color: #D2D2D2;
    padding: 1rem;
}