.logo {
	color: inherit;
	outline-color: #0000;
	font-weight: bolder;
}

.checkoutInformation {
	background-color: #f4f4f4;
	padding: 1rem;
}

.checkoutInformation small a {
	text-decoration: underline;
	color: skyblue;
}

.cartSummary {
	background-color: #d2d2d2;
	padding: 1rem;
	height: 100rem;
}
