.offcanvas {
    background-color: #314146;
    color: #f7f7f7;
    transition: all 0.5s;
}

.logo {
    transition: all 0.5s;
    cursor: pointer;
}

.offcanvas.title {
    transition: all 0.5s;
}

.resizeOffcanvas{
    width:10% !important;
    transition: all 0.5s;
}

.arrowIcon {
    cursor: pointer;
    font-size: 25px;
}

.offcanvas-backdrop.show {
    opacity: .0;
}

.nav-item {
    transition: all 0.5s;
}

.nav-link {
    color: #67bbeb;
    text-decoration: none;
}

.nav-link:hover {
    color: #f7f7f7;
    text-decoration: none;
}
.nav-item:hover {
    background-color: #cacbcc60;
}

.offcanvas.body {
    transition: all 0.5s;
}


@media (max-width:600px) {
    .resizeOffcanvas{
        width:30% !important;
    }
}

@media (max-width:400px) {
    .resizeOffcanvas{
        width:35% !important;
    }
}

@media (max-width:330px) {
    .resizeOffcanvas{
        width:40% !important;
    }
}

@media (max-width:290px) {
    .resizeOffcanvas{
        width:45% !important;
    }
}