.offcanvas {
	background-color: #314146;
	color: #07a180;
	transition: all 0.5s;
}

.logo {
	transition: all 0.5s;
	cursor: pointer;
}

.offcanvas.title {
	transition: all 0.5s;
}

.resizeOffcanvas {
	width: 12% !important;
	transition: all 0.5s;
}

.arrowIcon {
	cursor: pointer;
	font-size: 30px !important;
}

.nav-item {
	transition: all 0.5s;
}

.nav .nav-item .nav-link a {
	color: #07a180;
	text-decoration: none;
}

a:hover {
	color: #f7f7f7;
	text-decoration: none;
}
.nav-item:hover {
	background-color: #cacbcc60;
}

.offcanvas.body {
	transition: all 0.5s;
}

@media (max-width: 1130px) {
	.resizeOffcanvas {
		width: 15% !important;
	}
}

@media (max-width: 920px) {
	.resizeOffcanvas {
		width: 17% !important;
	}
}

@media (max-width: 700px) {
	.resizeOffcanvas {
		width: 21% !important;
	}
}

@media (max-width: 600px) {
	.resizeOffcanvas {
		width: 25% !important;
	}
}

@media (max-width: 500px) {
	.resizeOffcanvas {
		width: 30% !important;
	}
}
