.floatingButton{
	position:fixed;
	width:60px;
	height:60px;
	bottom:110px;
	right:40px;
	background-color:#08c;
	text-align:center;
}

.floatingButton:hover {
	background-color:#58c;
}

.floatingDropDown {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0cb;
	text-align:center;
}


.floatingDropDown:hover {
    background-color:#5cb;
}

.floatingButtonIcon{
	margin: 0 auto;
    font-size: xx-large;
}

.dropdown-toggle::after {
	display: none;
}