.floatingButton {
	position: fixed;
	/* opacity: 0.9; */
	width: 60%;
	height: 60px;
	bottom: 5px;
	left: 250px;
	background-color: #039c6cce;
	text-align: center;
}

@media (max-width: 1000px) {
	.floatingButton {
		left: 200px;
	}
}

@media (max-width: 800px) {
	.floatingButton {
		left: 150px;
	}
}

@media (max-width: 550px) {
	.floatingButton {
		left: 80px;
		width: 70%;
	}
}

@media (max-width: 550px) {
	.floatingButton {
		left: 0;
		width: 100%;
	}
}

.floatingButton:hover {
	background-color: #039c6c;
}

.floatingButtonIcon {
	margin: 0 auto;
	font-size: xx-large;
}
