.welcomeSection {
	background-color: #27444e;
	color: #ffffff;
	height: 100dvh;
}

.welcomeSection a {
	color: #fff;
	border: 1px solid #fff;
	padding: 0.5rem 0.8rem;
	border-radius: 0.5rem;
	transition: all 200ms ease-in-out;
}

.welcomeSection a:hover {
	background-color: #ffffff;
	color: #000;
}

.logoSection {
	height: 100dvh;
	background: rgb(240, 241, 234);
	background: linear-gradient(
		90deg,
		rgba(240, 241, 234, 1) #fff,
		rgba(230, 231, 225, 1) 45%,
		rgba(212, 211, 206, 1) 100%
	);
}
