.dropdown > a::after {
	color: #fff;
}

#mainNavbar .navLink {
	color: #5ab6e1;
	padding: 0.7rem;
	border-radius: 0.3rem;
}

#mainNavbar .navLink:hover {
	color: #064869;
	background-color: #0000000c;
}
