.productCard {
	border: none;
	border-radius: 7%;
	background-color: inherit;
}

.footerButtons {
	font-size: 22px;
}

.productCard .card-subtitle {
	font-size: 22px;
}

.productCard img {
	height: 250px;
	border-radius: 7%;
	transition: all 150ms ease-in-out;
}

.productCard img:hover {
	height: 253px;
	width: 101%;
	margin-top: -5px;
}

.card .card-header {
	background-color: inherit;
	border: 0;
	margin-top: 0;
}

.card .card-footer {
	background: none;
	border: none;
}

@media (max-width: 767px) {
	.productCard .card-title {
		font-size: 11px;
	}
	.productCard .card-subtitle {
		font-size: 11px;
		width: 170%;
	}
	.footerButtons {
		font-size: 11px;
	}

	.productCard img {
		width: 75px;
		height: 90px;
	}

	.productCard img:hover {
		width: 75px;
		height: 90px;
		margin-top: 0;
	}

	.card .card-footer button {
		width: 100px;
	}
}
