.productContainer {
	width: 80%;
	height: 90%;
}

.productImage {
	height: 500px;
	border-radius: 2rem;
}

@media (max-width: 767px) {
	.productImageCarousel {
		text-align: center;
	}
	.productImage {
		width: 70%;
		height: 300px;
		border-radius: 2rem;
	}
}
